[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	excludesfile = /Users/anzumana/.gitignore_global
[user]
	email = taal@projektionisten.de
	name = Anzumana
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
