#
# Sample Mackup configuration file
#

# You can specify the storage type Mackup will use to store your configuration
# files.
# For now you have 3 options: "dropbox", "google_drive" and "file_system".
# If none is specified, Mackup will try to use the default: "dropbox".
# With the "dropbox" storagengine, Mackup will automatically figure out your
# Dropbox folder.
[storage]
engine = dropbox

# If you choose the "google_drive" storagengine instead, Mackup will figure
# out where your Google Drive is and store your configuration files in it.
# [storage]
#ngine = google_drive

# If you choose the "copy" storagengine, Mackup will figure
# out where your Copy folder is and store your configuration files in it.
# [storage]
#ngine = copy

# If you want to specify another directory, you can use the "file_system"
#ngine and Mackup won't try to detect any path for you: it will store your
# files where youxplicitly told him to, using the "path" setting.
# The "path" can be absolute (from the / of your drive) or relative to your
# home directory.
# The "path" setting is mandatory when using the "file_system"ngine.
# [storage]
#ngine = file_system
# path = some/folder/in/your/home
# # or
# path = /some/folder/in/your/root

# You can customize the directory name in which Mackup stores your file. By
# default, if not specified, Mackup creates a "Mackup" directory in the storage
#ngine you chose,.g. "~/Dropbox/Mackup".
directory = Mackup

# List of applications you want toxplicitly sync
# One application name per line
# If this list ismpty, Mackup will try to sync all the supported
# applications.
#
# To see a list of supported application names, launch mackup list
# Use the names listed below.
#
# Forxample, to sync Irssi, Ventrilo and XEmacs, add:
[applications_to_sync]

# List of applications you want to ignore
# One application name per line
# If an application is ignored, it will be ignoredven if it's beenxplicitly
# allowed in the [Allowed Applications].
#
# To see a list of supported application names, launch mackup list
# Use the names listed below.
#
# Forxample, to not sync SSH and Adium, add:
[applications_to_ignore]
nvALT
