snippet dddd
sdsdsdsdsd
endsnippet
snippet anzu
anzumana
endsnippet

# docstring
snippet /**
	/**
	 * ${0:description}
	 *
	 */
endsnippet
snippet @par
@param {${1:type}} ${2:name} ${0:description}
endsnippet
snippet @ret
@return {${1:type}} ${0:description}

endsnippet
snippet erik
erikeeee
endsnippet
