snippet anzu
anzumana
endsnippet
# docstring
snippet doc
/**
	* ${0:description}
	*
*/
endsnippet
snippet @par
@param {${1:type}} ${2:name} ${0:description}
endsnippet
snippet @ret
@return {${1:type}} ${0:description}
endsnippet
snippet $scope
$scope.${1:functionName} = function(${2}) {
	${3}
}
endsnippet

snippet it
it('${0:describe the test}', function() {
	${1}
});
endsnippet
snippet todo
TODO_ANZU
endsnippet
snippet fix
FIXME_ANZU
endsnippet
snippet impr
IMPROVE_ANZU
endsnippet
