snippet tt
sanzu
endsnippet

snippet put
put:
	description:${0:describe what the operation does}
	tags: ${1:what tag does this function belong to}
	produces:
		-application/json
	paramters:
	responses:
endsnippet
